* {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    background-color: #fff;
    transition: background 1s;
}
.main {
    height: 90%;
    width: 100%;
}
.footer {
    height: 10%;
    width: 100%;
}
.outer {
    display: table;
    text-align: center;
}

.inner {
    display: table-cell;
    vertical-align: middle;
}

p {
    color: #333;
}

input {
    font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 10px 25px 10px 25px;
    border: solid;
    border-color: #aaa;
    border-width: thin;
    color: #aaa;
    background-color: transparent;
}

input:focus {
    outline: none;
}

a {
    color: #0074d9;
    text-decoration: none;
}